  <div class="content_post">
    <div class="box10">
  <%= simple_format(tweet.text) %>
    </div>
  <% if user_signed_in? && current_user.id == tweet.user_id %>
  
    <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get,class:"btn btn-primary" %>
    <%= link_to '削除', "tweets/#{tweet.id}", method: :delete,class:"btn btn-primary" %>
    
  </div>
  <% end %>